.main-chat
  .right-header
    .group-info
      グループのインフォメーション
      .list-box
        %ul.list-box__list member:
        %li.list__member midori
    .edit-btn
      =link_to "/#", class:"main-edit__btn" do
        Edit
  .message-list
    .message-box
      .message-info
        .message-info__message-name
          ユーザーネーム
        .message-info__message-name__date
          2020年06月09日　14時04分
      .message
        こんにちわ！
      .message-info
        .message-info__message-name
          ユーザーネーム
        .message-info__message-name__date
          2020年06月09日　14時04
      .message
        こんにちわ！
  %form.message-form
    .message-input
      .input-message
        %input.textarea{placeholder: "Type a message", type: "text",}
        .textarea__input-picture
          %label{class: "input-picture-image"}
            %i.fa.fa-image
            %input{class: "delete-file-view", type: "file", name:"delete-file-view[image]", method:"post",enctype:"multipart/form-date"}
    .send-btn
      %input.submit{name: "commit", type: "submit", value: "SEND"}
