.main-chat
  .right-header
    .group-info
      グループのインフォメーション
      .list-owaku
        %ul.member-list Member : 
        %li.member midori
    .edit-btn
      =link_to "/#", class:"main-edit__btn" do
        Edit
  .message-list
    .message-box
      .message-info
        .message-name
          ユーザーネーム
        .date
          2020年06月09日　14時04分
      .message
        こんにちわ！
    .message-box
      .message-info
        .message-name
          ユーザーネーム
        .date
          2020年06月09日　14時04
      .message
        こんにちわ！
  %form.message-form
    .message-input
      .input-message
        %input.textarea{placeholder: "Type a message", type: "text",}
        .input-picture
          %label{class: "input-box__image"}
            %i.fa.fa-image
            %input{class: "hoge", type: "file", name:"hoge-file[image]", method:"post",enctype:"multipart/form-date"}
    .send-btn
      %input.submit{name: "commit", type: "submit", value: "SEND"}
