.side-bar
  .user-name
    .username
      ユーザーネーム
    .setting
      =link_to "#", class: "side-edit__btn" do
        %i.fa.fa-cog
      =link_to "#", class: "write__btn" do
        %i.fa.fa-edit
  .group-owaku
    .group-list
      グループリスト
      .message-side
        まだメッセージがありません