.side-bar
  .side-bar__header
    .username
      ユーザーネーム
    .setting
      =link_to "#", class:"write-btn" do
        %i.fa.fa-edit
      =link_to "#", class:"side-edit-btn" do
        %i.fa.fa-cog

  .group-box
    .group-box__group-list
      グループリスト
    .group-box__group-list__message-side
      まだメッセージがありません